aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==20.3.0
autosolveclient==2.0.9
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
cloudscraper==1.2.56
colorama==0.4.4
datadispatch==1.0.0
dhooks==1.1.4
h11==0.12.0
httpcore==0.12.3
httpx==0.17.1
idna==2.10
logzero==1.6.3
multidict==5.1.0
pika==1.2.0
pymitter==0.3.0
pyparsing==2.4.7
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.4.0
sniffio==1.2.0
soupsieve==2.2
termcolor==1.1.0
typing-extensions==3.7.4.3
urllib3==1.26.4
yarl==1.6.3
